/* FONT ADD */
@font-face {
    font-family: 'mons';
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'mons-b';
    src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'mons-l';
    src: url(fonts/Montserrat-Light.ttf);
}

/* ----------CONTAINER LIKE BOOTSTRAP */


* {
    box-sizing: border-box;
}

.theme-color
{
    background-color: rgb(41,47,69);
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.row-dashboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
}

.col-md-1{
    grid-column: span 1;
}

.col-md-2{
    grid-column: span 2;
}

.col-md-6{
    grid-column: span 6;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.col-md-4 {
    grid-column: span 4;
}

.col-md-8 {
    grid-column: span 8;
}

.col-md-6,
.col-6 {
    grid-column: span 6;
}

.col-md-3,
.col-3 {
    grid-column: span 3;
}

.col-md-5 {
    grid-column: span 5;
}

.col-md-7 {
    grid-column: span 7;
}

.col-9, .col-md-9 {
    grid-column: span 9;
}

.col-12 {
    grid-column: span 12;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    grid-column: span 12;
}

.text-center{
    text-align: center;
}

#confirm  {
    display: none;
    background-color: #8416f9;
    color: #FCD116;
    border: 1px solid #aaa;
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
 }
 #confirm button {
    background-color: #48E5DA;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
 }
 #confirm .message {
    text-align: left;
 }

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* --------end CONTAINER LIKE BOOTSTRAP */

html,
body {
    margin: 0;
    font-size: 14px;
    font-family: mons;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-right: auto;
    margin-left: auto;
}

.display-block {
    display: block;
}

.text-danger {
    color: red;
}

.text-safe {
    color: #87d3ed;
}

.text-theme {
    color: #345073;
}

.h-100{
    height: 100%;
}

.pt-4{
    padding-top: 1rem;
}

.mt-2{
    margin-top: .5rem;
}

.mt-4{
    margin-top: 1rem;
}

.mb-4{
    margin-bottom: 1rem;
}

.btn{
    border-radius: 3px;
}

.gray-with-white{
    background-color: #888888;
    color: white;
}

/* .slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

.main-body {
    position: relative;
    transition: 0.7s;
    background-color: white;
    margin: 0;
    top: 0;
    right: 0;
}

a {
    color: black;
    transition: color .5s linear;
}

a:hover {
    transition: color .5s linear;
    color: #87d3ee;
}


.main-body.mobile-view {
    right: 300px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    width: 300px;
    transform: translateX(100%);
    z-index: 8888;
    transition: 0.7s;
    overflow: hidden;
}

.mobile-menu.open {
    transform: translateX(0%);
}

.site-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7777;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms linear;
}

.site-overlay.active {
    opacity: 1;
    visibility: visible;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    /* transition: .3s linear; */
}


html body a {
    text-decoration: none;
}

/* LOGIN PAGE */

.bg-login{
    background-image: url('../images/bg_login.jpg');
  /* Full height */
  height: 100vh;
  background-size: cover;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

body, html {
    /* height: 100%; */
    margin: 0;
  }

.login-panel{
    padding-top: 3rem;
    width: 500px;
    /* height: 100px; */
}

.login-panel h3{
    margin: .5em 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* #login-form input[type='text'],
#login-form input[type='password']{
    margin-top: .5rem;
    padding: .5rem;
    width: 100%;
} */

#login-form .input-group{
    padding: 0 3rem;
}

.round-input-wraper{
    display: block;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
}

.round-input-wraper input{
    width: 97%;
    border: none;
    padding: .5em .25em;
    margin: 0.25em 0;
}

.round-input-wraper input:focus-visible{
    outline: none;
}

#userID-wraper,
#userID
{
    background-color: black;
    color: white;
}

#password-wraper,
#password
{
    background-color: darkslategray;
    color: white;
}

#userID::placeholder,
#password::placeholder
{
    color: white;
    opacity: 1;
}

/* LOGIN: END */

.page-dashboard {
    color: white;
}

.logo-section a
{
    display: block;
    text-align: center;
}

.logo-section img{
    width: 65%;
    max-width: 100%;
}


/* END -------------- SERVICE GROUP PAGE */

@media (max-width: 767px) {

    .mobile-disappear {
        display: none;
    }

    .col-md-1,
    .col-md-2,
    .col-md-4,
    .col-md-8,
    .col-md-6,
    .col-md-3,
    .col-md-5,
    .col-md-7,
    .col-md-9 {
        grid-column: span 12;
    }


    .container {
        padding: 0 1rem;
    }

}